  <h1>ASIN DATABASE</h1>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class= "col-md-2" style= "overflow: hidden; width: auto;">Date</th>
        <th class= "col-md-2" style= "overflow: hidden; width: auto;">ASIN</th>
        <th class= "col-md-4" style= "overflow: hidden; width: auto;">Title</th>
        <th class= "col-md-2" style= "overflow: hidden; width: auto;">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @asin_logs.each do |asin_log| %>
      <tr>
        <td><%= formatted_date(asin_log) %></td>
        <td><a href="<%= link_to_show(asin_log)%>"><%= asin_log.asin.name %></a></td>
        <td><a href="<%= link_to_site(asin_log) %>"><%= asin_log.title %></a></td>
        <td style="background-color: <%= asin_log.fluctuation %>"><%= formatted_price(asin_log.price) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
