<div id="chartContainer"></div>
<div class="stats">
  <p>Avg: <%= formatted_price(@asin.avg_price) %></p>
  <p>Min: <%= formatted_price(@asin_logs.minimum(:price)) %></p>
  <p>Max: <%= formatted_price(@asin_logs.maximum(:price)) %></p>
</div>
<%= erb :'asins/_table', layout: false %>
<script type="text/javascript" src="/js/jquery.canvasjs.min.js"></script>
<script type="text/javascript">
$(function () {
  //Better to construct options first and then pass it as a parameter
  var options = {
    title: {text: "History"},
    animationEnabled: true,
    data: [
      {type: "spline", //change it to line, area, column, pie, etc
      dataPoints: [
      <% @asin_logs.each do |log|%>
        <% if log.price > 0.0 %>
          { x: <%= log.created_at.strftime("%y%m%d").to_i/10000.00 %>, y: <%= log.price %> },
        <% end %>
        <% end %>]
      }
    ]};

  $("#chartContainer").CanvasJSChart(options);

});
</script>
